@import url("https://fonts.googleapis.com/css2?family=Roboto&display=swap");

/* //brand black #211620
//turqouise #08FDEE
//Main pink #FE28E0
//Red pink #FC1980 */

body {
  background-color: #211620;
  font-family: "Roboto", sans-serif;
  margin: 0;
  box-sizing: border-box;
  color: #ffffff;
}

input,
button {
  font-family: "Roboto", sans-serif;
}

/* image cards */
.image-card {
  width: 300px;
  height: 300px;
  display: inline-block;
  background-repeat: no-repeat;
  border-radius: 8px;
  background-image: url(./Images/DJ-image.png);
  margin-right: 10%;
  margin-top: 5%;
}

.image-card-2 {
  width: 300px;
  height: 300px;
  display: inline-block;
  border-radius: 8px;
  background-image: url(./Images/phone-image.png);
  margin-right: 10%;
  margin-top: 20%;
}

/* //getting started page*/

.getting-started-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.content-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 8%;
  width: 400px;
}
.content-card div {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.content-card h1 {
  color: #fe28e0;
}

.content-card h2 {
  color: #08fdee;
  margin-left: 0;
  padding: 0;
}

.content-card h3 {
  margin-left: 5%;
  width: 70%;
}

.content-heading-div {
  margin-top: 5%;
  width: 70%;
}

.content-heading-div p {
  margin-left: 32px;
}

.how-it-works-div {
  display: flex;
  justify-content: space-evenly;
  margin-right: 50px;
}

.how-it-works-div li {
  margin-top: 8px;
}

.btn-2 {
  margin-top: 24px;
  margin-left: 25%;
}

/* //sign up page*/

.signup-page-container {
  display: flex;
  justify-content: space-around;
  margin-left: 15%;
  width: 70%;
}

.signup-form-container h2 {
  color: #fe28e0;
  margin-left: 32px;
}
.signup-form {
  display: flex;
  flex-direction: column;
  align-items: center;

  margin-left: 0;
}
input {
  border-radius: 4px;
  margin-left: 16px;
  margin-right: 36px;
  width: 200px;
  height: 30px;
}

.signup-form input {
  border-radius: 4px;
  margin-left: 40px;
  margin-bottom: 24px;
  width: 200px;
  height: 30px;
}

.signup-form-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 15%;
}

.form-div {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
}

.email {
  margin-left: 36px;
}

.form label {
  display: flex;
  align-items: center;

  margin-left: 16px;
  margin-right: 15%;
  padding-right: 50px;
}

.btn-4 {
  margin-top: 48px;
  margin-left: 30%;
  margin-right: 40px;
}

/* //login page */

.btn-3 {
  margin-top: 48px;
  margin-left: 0;
  margin-right: 40px;
}

.login-form h1 {
  color: #fe28e0;
}

.login-form-container {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  margin-left: 36px;
}

.login-form {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-content: center;
  margin-left: 0;
}

.login-form input {
  border-radius: 4px;
  margin: 16px;
  width: 200px;
  height: 30px;
  margin-left: 0;
}

.login-page-container {
  display: flex;
  justify-content: space-between;
  margin-top: 10%;
  margin-left: 15%;
  width: 80%;
}
.image-card-3 {
  width: 300px;
  height: 300px;
  display: inline-block;
  border-radius: 8px;
  background-image: url(./Images/DJ-image.png);
  margin-right: 5%;
  margin-top: 10%;
}

.register_link a {
  color: #fe28e0;
  text-decoration: none;
  font-size: 1.4rem;
  margin-top: 56px;
}
.register_link p {
  color: #feec28;
  text-decoration: none;
  font-size: 1.4rem;
}

/* Suggestor and remaining styles are located in Styles.js and ./components/Styles2*/
